<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://wwww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <title></title>
</head>
<body tiles:fragment="cont">
<a href="#openModal" th:onclick="'doAjaxLoad(\'' + '.ajaxSingle' + '\', \'' + 'clear' + '\', \'' + '#contentSingle' + '\');'">new</a>
<div id="openModal" class="modalDialog" title="Form Assessment">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <form action="#" th:action="@{/assessment/assessmentForm}" th:object="${mstAssessment}" method="post" class="ajaxSingle" id="ajaxSg">
            <div id="contentSingle">
                <div>
                    <label>Nama Assessment</label>
                    <input type="text" maxlength="100" th:field="*{ketAssessment}" id="ketAssessment"/>
                </div>
            </div>
            <div>
                <input type="button" onclick="doAjaxPost(this , '#tblSingle' );" value="save"/>
                       <!--th:onclick="'doAjaxPost(\'' + '.ajaxSingle' + '\', \'' + '#ketAssessment' + '\', \'' + '#tblSingle' + '\');'"-->

                <input type="button"
                       onclick="doAjaxLoad( '.ajaxSingle' ,  'clear' , '#contentSingle' );"
                       value="new"/>

            </div>
        </form>
    </div>
</div>
<div id="tblSingle">
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Nama Hasil</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mstAssessment, rowStat:${listAssess}">
            <td th:text="${rowStat.count}"/>
            <td th:text="${mstAssessment.ketAssessment}"/>

            <td><input type="button"
                       th:onclick="'doAjaxDel(\'' + '.ajaxSingle' + '\', \'' + ${mstAssessment.ketAssessment} + '\', \'' + '#tblSingle' + '\');'"
                       value="delete"/></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>